body {
    background: url(nuevas_imagenes/cacao-bean-ge010f83ca_1920.jpg);
    position: center;
}

.default {
    background-color:rgba(77, 41, 41, 0);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    color: rgb(255, 254, 254);
    width: 105%;
    margin: 0 auto;
    margin-top: 2%;
    background: darkgreen;
    
}

th {
    border: 2px solid white;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.469);
    color: black;
}

tr {
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    color:black;
    background-color: rgba(255, 255, 255, 0.469);
}


td {
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.469);
}
.project-title{
    color:#fff;
	padding:0 0 9px 0;
	font-weight:normal;
	font-family: 'Passion One', cursive;

}
